<div class="list-group">
<% @theatres.each do |k,v|%>
  <% if (v.count>0)%>
    <div class="list-group-item list-group-item-action list-group-item bg-secondary bg-gradient", style="color:white">
    <%= k.name %>
    </div>
  <%end%>
  <% v.each do |temp| %>
  <button type="button" class="list-group-item list-group-item-action">
    <%= link_to 'Book show', theatre_screen_showtime_path(theatre_id: k,screen_id: k.screen,id: v), class: "btn btn-danger bg-gradient" %>
      <%=temp.schedule%>
    </button>
  <%end%>
<br>
<%end%>
</div>
