<% if current_user.has_role? :admin %>
  <div class="text-center">
    <h2> HEY, Admin!! </h2>
    <%= link_to "All Theatre", theatres_path, class: "btn btn-danger"%>
    <%= link_to "Create Theatre", new_theatre_path, class: "btn btn-danger"%>
  </div>
<% elsif current_user.has_role? :theatre_admin %>
   <div class="text-center">
      <h2> Hey, Theatre Admin! </h2>
      <%= link_to "Available Theatre For you", theatres_path, class: "btn btn-danger" %>
    </div>
<% else %>
  <div class="text-center">
      <h2> Hey, User! </h2>
  </div>
<% end %>