<h5 class="list-group-item list-group-item-action list-group-item-dark">Today's Booking</h5>
<%= render "today_bookings", home: @home %>
<br>
<h5 class="list-group-item list-group-item-action list-group-item-dark">Upcoming Bookings</h5>
<%= render "upcoming_bookings", home: @home %>'
<br>
<h5 class="list-group-item list-group-item-action list-group-item-dark">Previous Booking</h5>
<%= render "previous_bookings", home: @home %>
<br>